.container {
  max-width: 600px;
}

.Weather h2 {
  font-size: 40px;
  margin: 0;
}

.Weather h3 {
  font-size: 30px;
  text-decoration: none;
  padding: 10px 0;
}

.Weather a {
  text-decoration: none;
}

.Weather canvas {
  margin-top: 20px;
  margin-right: 20px;
}

.Weather .weather-datas {
  font-size: 14px;
  padding: 10px 0;
  margin-top: 30px;
  margin-bottom: 0;
}

.Weather .sky {
  font-size: 14px;
  font-weight: normal;
  position: relative;
  top: -15px;
}

.Weather .date {
  font-size: 14px;
  margin: 0;
}

.Weather .current-datas {
  margin-top: 10px;
}

.Weather .current-temperature {
  font-weight: bold;
  font-size: 34px;
}

.Weather .units {
  position: relative;
  font-size: 20px;
  top: -12px;
}

.Search .btn {
  margin-top: 10px;
  font-size: 22px;
  display: inline;
  padding: 5px 5px 10px 5px;
}

.Search .city-name {
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  background: #fafafa;
}

.Forecast {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}

.card {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

.code-link {
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}

.weather-forecast-temperature {
  font-size: 15px;
}

.weather-forecast-temperature-max {
  font-weight: 500;
}
